<div class="flex flex-wrap">
  <div class="col-12">
    <p-button icon="pi pi-arrow-left" styleClass="p-button-rounded p-button-text p-button-raised" routerLink="/"></p-button>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <span class="p-float-label">
      <input class="w-full" pInputText id="username">
      <label htmlFor="username">Cep</label>
    </span>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <span class="p-float-label">
      <input class="w-full" pInputText id="logradouro">
      <label htmlFor="logradouro">Logradouro</label>
    </span>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <span class="p-float-label">
      <input class="w-full" pInputText id="bairro">
      <label htmlFor="bairro">Bairro</label>
    </span>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <span class="p-float-label">
      <input class="w-full" pInputText id="numero">
      <label htmlFor="numero">Número</label>
    </span>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <span class="p-float-label">
      <input class="w-full" pInputText id="cidade">
      <label htmlFor="cidade">Cidade</label>
    </span>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <span class="p-float-label">
      <input class="w-full" pInputText id="estado">
      <label htmlFor="estado">Estado</label>
    </span>
  </div>
</div>